<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Opened in place from Files and "Open in": the app only reads the files. -->
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Outlook Data File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>de.kernich.pstviewer.pst</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Outlook Item</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>de.kernich.pstviewer.msg</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Email Message</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.mail.email</string>
				<string>com.apple.mail.emlx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Mailbox</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>de.kernich.pstviewer.mbox</string>
			</array>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>de.kernich.pstviewer.pst</string>
			<key>UTTypeDescription</key>
			<string>Outlook Data File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pst</string>
					<string>ost</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.ms-outlook-pst</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>de.kernich.pstviewer.msg</string>
			<key>UTTypeDescription</key>
			<string>Outlook Item</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>msg</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.ms-outlook</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>de.kernich.pstviewer.mbox</string>
			<key>UTTypeDescription</key>
			<string>Mailbox</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mbox</string>
					<string>mbx</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/mbox</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
